/* 行内代码纯色背景 */

/* 亮色模式 */
body {
    --inline-code-background-light: #f0f0f0;
}

/* 暗色模式 */
body {
    --inline-code-background-dark: #3a3a3a;
}

/* 强制覆盖实时预览模式（源码视图）的行内代码背景 */
.theme-light .cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight),
.theme-light .cm-s-obsidian span.cm-inline-code,
.theme-light :not(pre)>code {
    background: #f0f0f0 !important;
}

.theme-dark .cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight),
.theme-dark .cm-s-obsidian span.cm-inline-code,
.theme-dark :not(pre)>code {
    background: #3a3a3a !important;
}

